@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

:root {
  --color-1: #454d66;
  --color-2: #309975;
  --color-3: #58b368;
  --color-4: #dad873;
  --color-5: #efeeb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;

  font-family: "Noto Sans Mono", monospace;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-1);
}

.container {
  background-color: var(--color-5);
  color: var(--color-1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 500px;
  height: 300px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-container {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.info-container span {
  font-weight: bold;
  font-size: 18px;
}

textarea {
  color: var(--color-1);
  font-family: "Noto Sans Mono", monospace;
  font-size: 16px;
  resize: none;
  border: none;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  padding: 10px;
  height: 150px;
}
